In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

'''
divisions_2A_1 = ([[1,'91709'],  #2A Division 1
              [1,'82456'],
              [1,'73281'],
              [1,'62323'],
              [1,'52172'],
              [1,'45806'],
              [1,'34918'],
              [1,'30617'],
              [1,'19827'],
              [1,'12189']])
divisions_3A_1 = ([[1,'91728'],  #3A Division 1
              [1,'82475'],
              [1,'73299'],
              [1,'62341'],
              [1,'52190'],
              [1,'45824'],
              [1,'34936'],
              [1,'30635'],
              [1,'19845'],
              [1,'12205']])
divisions_4A_1 = ([[1,'91744'],  #4A Division 1
              [1,'82493'],
              [1,'73319'],
              [1,'62361'],
              [1,'52210'],
              [1,'45842'],
              [1,'34954'],
              [1,'30652'],
              [1,'19862'],
              [1,'12223']])

#athlete_list_url="https://www.athletic.net/TrackAndField/Division/Event.aspx?DivID=91731&Event=21"
for i in range(10):
    print(int(divisions_4A_1[i][1]) - int(divisions_3A_1[i][1]))
'''

'\ndivisions_2A_1 = ([[1,\'91709\'],  #2A Division 1\n              [1,\'82456\'],\n              [1,\'73281\'],\n              [1,\'62323\'],\n              [1,\'52172\'],\n              [1,\'45806\'],\n              [1,\'34918\'],\n              [1,\'30617\'],\n              [1,\'19827\'],\n              [1,\'12189\']])\ndivisions_3A_1 = ([[1,\'91728\'],  #3A Division 1\n              [1,\'82475\'],\n              [1,\'73299\'],\n              [1,\'62341\'],\n              [1,\'52190\'],\n              [1,\'45824\'],\n              [1,\'34936\'],\n              [1,\'30635\'],\n              [1,\'19845\'],\n              [1,\'12205\']])\ndivisions_4A_1 = ([[1,\'91744\'],  #4A Division 1\n              [1,\'82493\'],\n              [1,\'73319\'],\n              [1,\'62361\'],\n              [1,\'52210\'],\n              [1,\'45842\'],\n              [1,\'34954\'],\n              [1,\'30652\'],\n              [1,\'19862\'],\n              [1,\'12223\']])\n\n#athlete_list_url="https://www.athletic.net/TrackAndField/Division/Event.aspx?DivID=91731&Event=21"\nfor i in range(10):\n    print(int(divisions_4A_1[i][1]) - int(divisions_3A_1[i][1]))\n'

In [2]:
#Select the Event

#Event = "&Event=21" #Women's 400
Event = "&Event=3" #Men's 400

#Event = "&Event=53" #Women's 1600
#Event = "&Event=52" #Men's 1600

In [19]:
district_ranges = ([[12173,12236],
                   [19810,19875],
                   [30600,30666],
                   [34898,34960],
                   [45786,45857],
                   [62303,62378],
                   [73261,73336],
                   [82437,82508],
                   [91690,91760]])

district_ranges = ([[12173,12236],
                   [19810,19875],
                   [30600,30666],
                   [34898,34960],
                   [45786,45857],
                   [62303,62378]])

district_ranges = ([[73261,73336],
                   [82437,82508],
                   [91690,91760]])

district_ranges = ([[12173,12236],
                   [19810,19875],
                   [30600,30666],
                   [34898,34960],
                   [45786,45857],
                   [62303,62378],
                   [73261,73336],
                   [82437,82508],
                   [91690,91760]])


#for i in range(9):
#    print(division_ranges[i][1]-division_ranges[i][0])

In [20]:
# loop through the HTML pages for each district (and subdistrict) and
# pull the athlete names, school, etc.

def read_div_year(Div,Div_id,Event):
    id_key_string =     "../Athlete.aspx?AID="
    school_key_string = "../School.aspx?SchoolID="

    athlete_list_url="https://www.athletic.net/TrackAndField/Division/Event.aspx?DivID="+Div_id+Event

    response = requests.get(athlete_list_url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")
    
    cols = ['ID','Name','School_ID','School','Division']
    athlete_list = pd.DataFrame(columns=cols)

    tables=soup.find_all("table")
    
    
    for i in tables:
        for row in i:
            str_row = str(row)
            id_index = str_row.find(id_key_string)
            if id_index != -1:
    # extract the athlete ID
                str_row = str_row[id_index+20:]            
                id_str = str_row[0:8]
                id_str = id_str.replace('\"',"")
                id_str = id_str.replace('>','')
                #ID = int(id_str)
    # extract the athlete Name
                name_index = str_row.find(">") + 1
                str_row = str_row[name_index:]
                name_index = str_row.find("<")
                Name = str_row[0:name_index] # save this data
    # extract the athlete school
                school_index = str_row.find(school_key_string)
                str_row = str_row[school_index+24:]
                school_index = str_row.find('\">')
                if (Name != 'Grace Hong') & (Name != 'Cass Elliott'):
                    #print(Name,str_row[0:school_index])
                    school_id = int(str_row[0:school_index]) # save this data
                    str_row = str_row[school_index+2:]
                    school_index = str_row.find("<")
                    school_name = str_row[0:school_index] #save this data
                else:
                    school_name = 'xxx'
                    school_id = np.nan
                if id_str.isdigit():
                    ID = int(id_str)
                    athlete_list = athlete_list.append({'ID': ID, 'Name': Name, 'School_ID': school_id, 'School': school_name, 'Division': Div}, ignore_index=True)

    athlete_list = athlete_list.set_index(['ID'])
    return athlete_list

In [ ]:
'''
# test just one district
div = 1
div_id = '82497'
new_list = read_div_year(div,div_id,Event)
'''

In [ ]:
'''
# Loop through list of division data, extracting athlete data
all_athlete_list = pd.DataFrame()
for div, div_id in divisions_4A_1:
    new_list = read_div_year(div,div_id,Event)
    all_athlete_list = all_athlete_list.append(new_list)
'''

In [21]:
#loop through ranges of district data for each year
# Create a long list of athletes doing this Event
all_athlete_list = pd.DataFrame()
for dist in district_ranges:
    start = dist[0]
    end = dist[1]
    print("starting new year",start,end)

    for d in range(start,end):
        print(d)
        new_list = read_div_year(0,str(d),Event)
        all_athlete_list = all_athlete_list.append(new_list)

starting new year 12173 12236
12173
12174
12175
12176
12177
12178
12179
12180
12181
12182
12183
12184
12185
12186
12187
12188
12189
12190
12191
12192
12193
12194
12195
12196
12197
12198
12199
12200
12201
12202
12203
12204
12205
12206
12207
12208
12209
12210
12211
12212
12213
12214
12215
12216
12217
12218
12219
12220
12221
12222
12223
12224
12225
12226
12227
12228
12229
12230
12231
12232
12233
12234
12235
starting new year 19810 19875
19810
19811
19812
19813
19814
19815
19816
19817
19818
19819
19820
19821
19822
19823
19824
19825
19826
19827
19828
19829
19830
19831
19832
19833
19834
19835
19836
19837
19838
19839
19840
19841
19842
19843
19844
19845
19846
19847
19848
19849
19850
19851
19852
19853
19854
19855
19856
19857
19858
19859
19860
19861
19862
19863
19864
19865
19866
19867
19868
19869
19870
19871
19872
19873
19874
starting new year 30600 30666
30600
30601
30602
30603
30604
30605
30606
30607
30608
30609
30610
30611
30612
30613
30614
30615
30616
30617
30618
30619
30620
30621
30622
30623
30624
30625
30626
30627
30628
30629
30630
30631
30632
30633
30634
30635
30636
30637
30638
30639
30640
30641
30642
30643
30644
30645
30646
30647
30648
30649
30650
30651
30652
30653
30654
30655
30656
30657
30658
30659
30660
30661
30662
30663
30664
30665
starting new year 34898 34960
34898
34899
34900
34901
34902
34903
34904
34905
34906
34907
34908
34909
34910
34911
34912
34913
34914
34915
34916
34917
34918
34919
34920
34921
34922
34923
34924
34925
34926
34927
34928
34929
34930
34931
34932
34933
34934
34935
34936
34937
34938
34939
34940
34941
34942
34943
34944
34945
34946
34947
34948
34949
34950
34951
34952
34953
34954
34955
34956
34957
34958
34959
starting new year 45786 45857
45786
45787
45788
45789
45790
45791
45792
45793
45794
45795
45796
45797
45798
45799
45800
45801
45802
45803
45804
45805
45806
45807
45808
45809
45810
45811
45812
45813
45814
45815
45816
45817
45818
45819
45820
45821
45822
45823
45824
45825
45826
45827
45828
45829
45830
45831
45832
45833
45834
45835
45836
45837
45838
45839
45840
45841
45842
45843
45844
45845
45846
45847
45848
45849
45850
45851
45852
45853
45854
45855
45856
starting new year 62303 62378
62303
62304
62305
62306
62307
62308
62309
62310
62311
62312
62313
62314
62315
62316
62317
62318
62319
62320
62321
62322
62323
62324
62325
62326
62327
62328
62329
62330
62331
62332
62333
62334
62335
62336
62337
62338
62339
62340
62341
62342
62343
62344
62345
62346
62347
62348
62349
62350
62351
62352
62353
62354
62355
62356
62357
62358
62359
62360
62361
62362
62363
62364
62365
62366
62367
62368
62369
62370
62371
62372
62373
62374
62375
62376
62377
starting new year 73261 73336
73261
73262
73263
73264
73265
73266
73267
73268
73269
73270
73271
73272
73273
73274
73275
73276
73277
73278
73279
73280
73281
73282
73283
73284
73285
73286
73287
73288
73289
73290
73291
73292
73293
73294
73295
73296
73297
73298
73299
73300
73301
73302
73303
73304
73305
73306
73307
73308
73309
73310
73311
73312
73313
73314
73315
73316
73317
73318
73319
73320
73321
73322
73323
73324
73325
73326
73327
73328
73329
73330
73331
73332
73333
73334
73335
starting new year 82437 82508
82437
82438
82439
82440
82441
82442
82443
82444
82445
82446
82447
82448
82449
82450
82451
82452
82453
82454
82455
82456
82457
82458
82459
82460
82461
82462
82463
82464
82465
82466
82467
82468
82469
82470
82471
82472
82473
82474
82475
82476
82477
82478
82479
82480
82481
82482
82483

ValueError: invalid literal for int() with base 10: 'd class="text-nowrap hidden-print'

In [22]:
# remove duplicate athletes in the list
all_athlete_list.drop_duplicates(inplace=True)
all_athlete_list.shape

(11696, 4)

In [23]:
all_athlete_list.head()

                 Name School_ID              School Division
ID
1671873   Josh Fuller       345              King's        0
146314      Ben Allen       382            Cashmere        0
1817645    Kyle Fremd       301  Bellevue Christian        0
334397   Frank Krause       315            Onalaska        0
285695   Scott Eberle       341             Freeman        0

Correlate the district number to the athlete

In [24]:
# read file with schools for each district
district_list = pd.read_csv('WA_athletic_districts1.csv')

all_athlete_list['District'] = np.nan
for index, athlete in all_athlete_list.iterrows():
    School = athlete['School']
    
    for district in district_list: 
        for item in district_list[district]:
            if item == School:
#                print("found it",School,district)
                all_athlete_list.District[index] = district

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [25]:
# How many unique schools are on the list
print("number of athletes ",all_athlete_list.shape)
print("Unique Schools ",all_athlete_list['School'].drop_duplicates().shape)

number of athletes  (11696, 5)
Unique Schools  (284,)

In [26]:
# Remove rows with incomplete school information
print("number of athletes before removing incompletes ",all_athlete_list.shape)
print("number of athletes after removing incompletes ",all_athlete_list.dropna().shape)

all_athlete_list.dropna(inplace=True)

number of athletes before removing incompletes  (11696, 5)
number of athletes after removing incompletes  (8718, 5)

In [27]:
# write to file
all_athlete_list.to_csv('athlete_list_boy400.csv')

In [15]:
all_athlete_list

,Name,School_ID,School,Division,District
ID,,,,,
4874126,Maddie Meyers,306,Northwest,0,District 9
1675244,Olivia Thomas,345,King's,0,District 8
185032,Chanda Romney,364,Forks,0,District 4
133607,Anne de Vries,308,University Prep,0,District 9
120359,Allison Hussey,301,Bellevue Christian,0,District 3
178463,Gabriela Guillen,383,Chelan,0,District 6
172639,Meagan Governor,369,La Center,0,District 4
131366,Sammy Sullivan,371,Stevenson,0,District 4
330317,Melissa Gibbons,374,Connell,0,District 5
237711,Jessica Spear,338,Tonasket,0,District 6
531401,Kim Barry,334,Lake Roosevelt,0,District 6
235162,Amanda Blankenship,369,La Center,0,District 4
266727,Kayleigh McCoy,357,Orting,0,District 3
114724,Shayla Maupin,309,Seattle Academy,0,District 9
237016,Savannah Krug,360,Vashon Island,0,District 3
823099,Liz Webber-Bruya,306,Northwest,0,District 9
518384,Hailey Ziegler,381,Cascade (Leavenworth),0,District 6
555801,Allison Peterson,366,Montesano,0,District 4
344979,Sami McDevitt,345,King's,0,District 8
341892,Alisha Friberg,349,Lynden Christian,0,District 8
235689,Ying Johnstone,308,University Prep,0,District 9
295337,Britnee Grooms,336,Okanogan,0,District 6
245124,Brittany Van Dyken,352,Nooksack Valley,0,District 8
262439,Kelsey Vander Veen,349,Lynden Christian,0,District 8
536510,Emma Barr,345,King's,0,District 8
891408,Renee Maloney,310,Cascade Christian,0,District 3
886056,Annie Romney,364,Forks,0,District 4
334509,MaryBeth Trimble,301,Bellevue Christian,0,District 3
344161,Regina Anson,333,Brewster,0,District 6
1518110,Lauresa Smith,345,King's,0,District 8
...,...,...,...,...,...
12854953,Haven Nutting,543,Eisenhower,0,District 6
12237031,Emma Fillmore,466,West Valley (Yakima),0,District 6
8707029,Gwen McQuaig,552,Wenatchee,0,District 6
12842335,Alana Scheideman,551,Moses Lake,0,District 6
8133845,Miranda Merrill,551,Moses Lake,0,District 6
12295952,Jasmine Rodriguez,464,Sunnyside,0,District 6
12880539,Kaitlynn Ruiz,464,Sunnyside,0,District 6
12249939,Emily Husted,550,Eastmont,0,District 6
12880535,Esmerelda Espinoza,464,Sunnyside,0,District 6
8645616,Kaylee Beus,466,West Valley (Yakima),0,District 6
12880534,Hogla Cortez,464,Sunnyside,0,District 6
10449575,Emily Bonus,461,Hanford,0,District 5
12929488,Madilynn Carr,547,Richland,0,District 5
10903015,Madeline Dawson,461,Hanford,0,District 5
12271036,Andrijana Fundak,547,Richland,0,District 5
12347907,Julia Henry,29898,Chiawana,0,District 5
8651684,Megan Wright,461,Hanford,0,District 5
12165534,Addison Taylor,549,Walla Walla,0,District 5
12929516,Payton Moore,547,Richland,0,District 5
12246063,Caitlin Neff,29898,Chiawana,0,District 5
12205723,Ella Coleman,461,Hanford,0,District 5
12271045,Sydney Spencer,547,Richland,0,District 5
12205721,Hannah Chavla,461,Hanford,0,District 5
12910293,Margaret Macduff,546,Pasco,0,District 5
12874975,Sydney Weston,549,Walla Walla,0,District 5
12910305,Inez Tellez-Gonzalez,546,Pasco,0,District 5
12874978,Annelise Whitaker,549,Walla Walla,0,District 5
12271042,Annabel Higbee,547,Richland,0,District 5
12205739,Emily Mitchell,461,Hanford,0,District 5
12862456,Jina Olander,461,Hanford,0,District 5