In [3]:
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt

import altair as alt

# Airline Data

In [4]:
df_read = pd.read_csv('data/ONTIME_2017.08.csv')
df_read.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'WHEELS_OFF', 'WHEELS_ON', 'CRS_ARR_TIME', 'ARR_TIME',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'FLIGHTS', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Unnamed: 42'],
      dtype='object')

In [5]:
df_read.sample(5)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 42
6374,2017,3,8,7,1,2017-08-07,AS,19930,AS,N413AS,...,243.0,213.0,1,1660,NaN,NaN,NaN,NaN,NaN,NaN
1175,2017,3,8,27,7,2017-08-27,OO,20304,OO,N257SY,...,179.0,135.0,1,1024,NaN,NaN,NaN,NaN,NaN,NaN
14694,2017,3,8,2,3,2017-08-02,B6,20409,B6,N768JB,...,384.0,276.0,1,2496,0.0,84.0,59.0,0.0,0.0,NaN
24842,2017,3,8,8,2,2017-08-08,DL,19790,DL,N825DN,...,153.0,132.0,1,954,NaN,NaN,NaN,NaN,NaN,NaN
27186,2017,3,8,30,3,2017-08-30,DL,19790,DL,N584NW,...,211.0,185.0,1,1399,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
# Each file on flight data represents one month of data

# 2017 to 2018 data
Output_File = 'FlightData_2017_2018.csv'
FlightDataDates = ['2017.08',
                   '2017.09',
                   '2017.10',
                   '2017.11',
                   '2017.12',
                   '2018.01',
                   '2018.02',
                   '2018.03',
                   '2018.04',
                   '2018.05',
                   '2018.06',
                   '2018.07']

In [144]:
# 2016 to 2017 data
Output_File = 'FlightData_2016_2017.csv'
FlightDataDates = ['2016.08',
                   '2016.09',
                   '2016.10',
                   '2016.11',
                   '2016.12',
                   '2017.01',
                   '2017.02',
                   '2017.03',
                   '2017.04',
                   '2017.05',
                   '2017.06',
                   '2017.07']

In [71]:
# Read the data file and strip out the unused columns
# DataDate - string in the form '2018.04'
# Return a cleaned DataFrame

def ReadFlightData(DataDate):
    df_read = pd.read_csv('data/ONTIME_'+DataDate+'.csv')
    df = df_read[['FL_DATE','YEAR','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','OP_UNIQUE_CARRIER',
                  'OP_CARRIER_FL_NUM','ORIGIN',
                  'DEST','CRS_ARR_TIME','ARR_TIME','CRS_DEP_TIME','DISTANCE','CANCELLED',
                  'CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY', 'SECURITY_DELAY',
                  'LATE_AIRCRAFT_DELAY']]
    return df

In [145]:
df = pd.DataFrame()
for DataDate in FlightDataDates:
    print(DataDate)
    df = df.append(ReadFlightData(DataDate))

2016.08
2016.09
2016.10
2016.11
2016.12
2017.01
2017.02
2017.03
2017.04
2017.05
2017.06
2017.07

In [10]:
df.head()

,FL_DATE,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_ARR_TIME,ARR_TIME,CRS_DEP_TIME,DISTANCE,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2016-08-25,2016,8,25,4,OO,6000,PSC,DEN,1643,1642.0,1324,852.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2016-08-26,2016,8,26,5,OO,3392,SEA,MKE,1510,1508.0,925,1694.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2016-08-26,2016,8,26,5,OO,3423,MKE,SEA,1825,1752.0,1550,1694.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2016-08-26,2016,8,26,5,OO,3426,SEA,OKC,1641,1625.0,1050,1519.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2016-08-26,2016,8,26,5,OO,3427,OKC,SEA,1937,1851.0,1725,1519.0,0.0,NaN,NaN,NaN,NaN,NaN

In [11]:
df.shape

(288138, 19)

In [146]:
# fill NaN in ARR_TIME with value in CRS_ARR_TIME
df['ARR_TIME'].fillna(df['CRS_ARR_TIME'],inplace=True)

### Add OnTime column
By definition, if the flight ARR_TIME is 15 minutes more than CRS_ARR_TIME (CRS = Computerized Reservations Systems) then the flight is late

In [147]:
# Delay = 0  --> on time
# Delay = 1  --> delayed
df['Delay'] = (df['ARR_TIME'] - df['CRS_ARR_TIME'] >= 15).apply(lambda x: 1 if x == True else 0)

In [148]:
df.head()

,FL_DATE,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_ARR_TIME,ARR_TIME,CRS_DEP_TIME,DISTANCE,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Delay
0,2016-08-25,2016,8,25,4,OO,6000,PSC,DEN,1643,1642.0,1324,852.0,0.0,NaN,NaN,NaN,NaN,NaN,0
1,2016-08-26,2016,8,26,5,OO,3392,SEA,MKE,1510,1508.0,925,1694.0,0.0,NaN,NaN,NaN,NaN,NaN,0
2,2016-08-26,2016,8,26,5,OO,3423,MKE,SEA,1825,1752.0,1550,1694.0,0.0,NaN,NaN,NaN,NaN,NaN,0
3,2016-08-26,2016,8,26,5,OO,3426,SEA,OKC,1641,1625.0,1050,1519.0,0.0,NaN,NaN,NaN,NaN,NaN,0
4,2016-08-26,2016,8,26,5,OO,3427,OKC,SEA,1937,1851.0,1725,1519.0,0.0,NaN,NaN,NaN,NaN,NaN,0

### Add Day_of_year column

In [149]:
df['Day_of_year'] = (pd.to_datetime(df['FL_DATE'])).dt.dayofyear

### Add Flight time column

In [150]:
# flight time = arrival - departure
df['CRS_FLIGHT_TIME'] = df['CRS_ARR_TIME'] - df['CRS_DEP_TIME']

# unless the arrival is the next day in which you need to add 2400 hours
df['foo'] = 2400

df[df['CRS_FLIGHT_TIME'] >= 0]['foo'] = 0
df.loc[df['CRS_FLIGHT_TIME'] >= 0,'foo'] = 0
df['CRS_FLIGHT_TIME'] = df['CRS_FLIGHT_TIME'] + df['foo']
df.drop(columns=['foo'],inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [151]:
df.columns

Index(['FL_DATE', 'YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_ARR_TIME', 'ARR_TIME', 'CRS_DEP_TIME', 'DISTANCE', 'CANCELLED',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Delay', 'Day_of_year', 'CRS_FLIGHT_TIME'],
      dtype='object')

### Write to file

In [128]:
#df.to_csv('data/'+Output_File)

# Weather Data

Create a dataframe with dates and weather at several cities in the US.  

This dataframe will be used to add the weather data to the flight data

In [129]:
#WeatherData = pd.read_csv('data/WeatherDayAve_6.17-6.18.csv')
#WeatherData = pd.read_csv('data/WeatherDayAve.csv')
WeatherData = pd.read_csv('data/WeatherDayAve_6.15-8.18.csv')

In [130]:
# fill SNOW NaN with 0
WeatherData.SNOW.fillna(0,inplace=True)

# fill NaN with previous good data
WeatherData.fillna(method='ffill',inplace=True)

In [ ]:
WeatherData.info()

In [ ]:
WeatherData.NAME.unique()

In [ ]:
WeatherData.STATION.unique()

Information for cities used in the weather data

|STATION    | STATION_NAME    | Airport Code | Zip Code|
|:---------:|:---------------:|--------------|---------|
|24233 | Seattle, WA     | SEA | 98158 |
|13874 | Atlanta, GA     | ATL | 30337|   
|12839 | Miami, FL       | MIA | 33122|
|23174 | Los Angeles, CA | LAX | 90045|
|94789 | New York, NY    | JFK | 11430|
|94846 | Chicago, IL     | ORD | 60666|
|12960 | Houston, TX     | IAH | 77032|

In [131]:
WeatherData = WeatherData[['STATION','DATE','SNOW','TAVG','AWND']]

In [132]:
# create weather DataFrame for daily averages
SEA_Weather = WeatherData[WeatherData.STATION == 'USW00024233']
ATL_Weather = WeatherData[WeatherData.STATION == 'USW00013874']
MIA_Weather = WeatherData[WeatherData.STATION == 'USW00012839']
LAX_Weather = WeatherData[WeatherData.STATION == 'USW00023174']
JFK_Weather = WeatherData[WeatherData.STATION == 'USW00094789']
ORD_Weather = WeatherData[WeatherData.STATION == 'USW00094846']
IAH_Weather = WeatherData[WeatherData.STATION == 'USW00012960']

**Weather Columns**   
SNOWÂ - Snowfall   
WT03Â - Thunder   
WT04Â - Ice pellets, sleet, snow pellets, or small hail"Â   
PRCPÂ - Precipitation   
WT05Â - Hail (may include small hail)   
WT06Â - Glaze or rimeÂ   
WT08Â - Smoke or hazeÂ   
SNWDÂ - Snow depth   
WT09Â - Blowing or drifting snow   
AWNDÂ - Average wind speed   
WT10Â - Tornado, waterspout, or funnel cloud"Â   
PGTMÂ - Peak gust time   
WT01Â - Fog, ice fog, or freezing fog (may include heavy fog)   
TMAXÂ - Maximum temperature   
WT02Â - Heavy fog or heaving freezing fog (not always distinguished from fog)   
TAVGÂ - Average Temperature.   
TMINÂ - Minimum temperature

In [133]:
SEA_Weather.rename(index=str, inplace=True, 
                   columns={'SNOW':'SEA_SNOW','TAVG':'SEA_TAVG','AWND':'SEA_AWND'})
ATL_Weather.rename(index=str, inplace=True, 
                   columns={'SNOW':'ATL_SNOW','TAVG':'ATL_TAVG','AWND':'ATL_AWND'})
MIA_Weather.rename(index=str, inplace=True, 
                   columns={'SNOW':'MIA_SNOW','TAVG':'MIA_TAVG','AWND':'MIA_AWND'})
LAX_Weather.rename(index=str, inplace=True, 
                   columns={'SNOW':'LAX_SNOW','TAVG':'LAX_TAVG','AWND':'LAX_AWND'})
JFK_Weather.rename(index=str, inplace=True, 
                   columns={'SNOW':'JFK_SNOW','TAVG':'JFK_TAVG','AWND':'JFK_AWND'})
ORD_Weather.rename(index=str, inplace=True, 
                   columns={'SNOW':'ORD_SNOW','TAVG':'ORD_TAVG','AWND':'ORD_AWND'})
IAH_Weather.rename(index=str, inplace=True, 
                   columns={'SNOW':'IAH_SNOW','TAVG':'IAH_TAVG','AWND':'IAH_AWND'})
SEA_Weather.drop(columns=['STATION'],inplace=True)
ATL_Weather.drop(columns=['STATION'],inplace=True)
MIA_Weather.drop(columns=['STATION'],inplace=True)
LAX_Weather.drop(columns=['STATION'],inplace=True)
JFK_Weather.drop(columns=['STATION'],inplace=True)
ORD_Weather.drop(columns=['STATION'],inplace=True)
IAH_Weather.drop(columns=['STATION'],inplace=True)
SEA_Weather.set_index('DATE',drop=True, inplace=True)
ATL_Weather.set_index('DATE',drop=True, inplace=True)
MIA_Weather.set_index('DATE',drop=True, inplace=True)
LAX_Weather.set_index('DATE',drop=True, inplace=True)
JFK_Weather.set_index('DATE',drop=True, inplace=True)
ORD_Weather.set_index('DATE',drop=True, inplace=True)
IAH_Weather.set_index('DATE',drop=True, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [134]:
print(SEA_Weather.shape,ATL_Weather.shape,MIA_Weather.shape,LAX_Weather.shape,
      JFK_Weather.shape,ORD_Weather.shape,IAH_Weather.shape)

(1188, 3) (1188, 3) (1188, 3) (1188, 3) (1188, 3) (1188, 3) (1188, 3)

In [135]:
#Weather_all = pd.concat([SEA_Weather,ATL_Weather,MIA_Weather,LAX_Weather,JFK_Weather,ORD_Weather,IAH_Weather])
Weather_all = pd.concat([SEA_Weather,JFK_Weather,IAH_Weather,ORD_Weather],axis=1,
                        join_axes=[SEA_Weather.index])

In [136]:
Weather_all.shape

(1188, 12)

In [137]:
Weather_all.sample(10)

,SEA_SNOW,SEA_TAVG,SEA_AWND,JFK_SNOW,JFK_TAVG,JFK_AWND,IAH_SNOW,IAH_TAVG,IAH_AWND,ORD_SNOW,ORD_TAVG,ORD_AWND
DATE,,,,,,,,,,,,
2015-07-15,0.0,69.0,7.16,0.0,77.0,8.50,0.0,85.0,5.82,0.0,66.0,8.50
2017-06-28,0.0,61.0,8.50,0.0,71.0,11.86,0.0,80.0,10.51,0.0,68.0,15.21
2016-11-28,0.0,45.0,6.26,0.0,45.0,8.50,0.0,74.0,8.05,0.0,44.0,17.22
2016-12-03,0.0,46.0,13.87,0.0,46.0,19.01,0.0,53.0,11.63,0.0,33.0,5.59
2016-06-07,0.0,72.0,6.93,0.0,75.0,11.41,0.0,80.0,4.70,0.0,63.0,10.07
2016-07-14,0.0,66.0,8.05,0.0,78.0,8.72,0.0,88.0,7.61,0.0,76.0,14.09
2015-06-27,0.0,77.0,8.72,0.0,68.0,11.86,0.0,84.0,6.04,0.0,64.0,8.95
2015-10-04,0.0,60.0,8.28,0.0,58.0,15.43,0.0,68.0,5.59,0.0,52.0,11.41
2016-10-23,0.0,55.0,6.26,0.0,54.0,17.22,0.0,65.0,5.82,0.0,55.0,10.74
2016-03-10,0.0,50.0,15.43,0.0,59.0,6.26,0.0,66.0,11.63,0.0,49.0,7.16

In [138]:
Weather_all.to_csv('data/Weather_all.csv')

# Add weather data to flight data

In [139]:
df.columns

Index(['FL_DATE', 'YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_ARR_TIME', 'ARR_TIME', 'CRS_DEP_TIME', 'DISTANCE', 'CANCELLED',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Delay', 'Day_of_year', 'CRS_FLIGHT_TIME'],
      dtype='object')

In [140]:
Weather_all

,SEA_SNOW,SEA_TAVG,SEA_AWND,JFK_SNOW,JFK_TAVG,JFK_AWND,IAH_SNOW,IAH_TAVG,IAH_AWND,ORD_SNOW,ORD_TAVG,ORD_AWND
DATE,,,,,,,,,,,,
2015-06-01,0.0,60.0,7.61,0.0,62.0,12.08,0.0,77.0,3.80,0.0,51.0,9.40
2015-06-02,0.0,58.0,11.18,0.0,53.0,10.07,0.0,78.0,3.80,0.0,56.0,5.37
2015-06-03,0.0,58.0,6.71,0.0,58.0,8.72,0.0,79.0,2.91,0.0,62.0,6.93
2015-06-04,0.0,61.0,8.72,0.0,59.0,11.41,0.0,80.0,3.80,0.0,68.0,7.38
2015-06-05,0.0,66.0,9.62,0.0,60.0,5.37,0.0,82.0,3.13,0.0,65.0,14.76
2015-06-06,0.0,69.0,5.82,0.0,66.0,8.95,0.0,83.0,2.46,0.0,60.0,8.28
2015-06-07,0.0,74.0,7.16,0.0,64.0,8.95,0.0,83.0,3.58,0.0,66.0,12.08
2015-06-08,0.0,74.0,7.83,0.0,66.0,18.12,0.0,82.0,2.91,0.0,73.0,11.41
2015-06-09,0.0,72.0,6.04,0.0,70.0,13.65,0.0,83.0,3.80,0.0,70.0,8.72
2015-06-10,0.0,65.0,6.71,0.0,74.0,10.96,0.0,84.0,4.92,0.0,80.0,11.41
2015-06-11,0.0,63.0,7.83,0.0,75.0,9.62,0.0,84.0,6.49,0.0,69.0,8.28
2015-06-12,0.0,61.0,5.14,0.0,78.0,10.29,0.0,83.0,8.95,0.0,62.0,8.28
2015-06-13,0.0,60.0,5.82,0.0,80.0,10.74,0.0,80.0,10.51,0.0,66.0,6.71
2015-06-14,0.0,66.0,8.28,0.0,75.0,8.05,0.0,80.0,9.40,0.0,73.0,6.93
2015-06-15,0.0,71.0,7.83,0.0,72.0,8.28,0.0,80.0,10.51,0.0,75.0,5.59
2015-06-16,0.0,64.0,6.71,0.0,69.0,6.71,0.0,77.0,12.53,0.0,69.0,10.29
2015-06-17,0.0,62.0,6.93,0.0,74.0,9.62,0.0,79.0,10.74,0.0,61.0,4.70
2015-06-18,0.0,66.0,6.71,0.0,67.0,8.05,0.0,81.0,5.14,0.0,72.0,10.29
2015-06-19,0.0,63.0,7.16,0.0,74.0,6.71,0.0,82.0,3.58,0.0,61.0,10.29
2015-06-20,0.0,64.0,9.62,0.0,72.0,10.51,0.0,82.0,6.49,0.0,63.0,7.16
2015-06-21,0.0,66.0,7.61,0.0,77.0,12.97,0.0,84.0,7.61,0.0,74.0,8.28
2015-06-22,0.0,66.0,5.37,0.0,82.0,11.41,0.0,84.0,5.37,0.0,75.0,10.51
2015-06-23,0.0,64.0,5.37,0.0,79.0,10.96,0.0,83.0,5.82,0.0,75.0,9.84
2015-06-24,0.0,70.0,5.82,0.0,79.0,10.96,0.0,83.0,4.03,0.0,70.0,4.92
2015-06-25,0.0,71.0,6.71,0.0,76.0,9.17,0.0,84.0,4.03,0.0,71.0,7.16
2015-06-26,0.0,76.0,10.51,0.0,74.0,6.71,0.0,83.0,4.25,0.0,63.0,9.40
2015-06-27,0.0,77.0,8.72,0.0,68.0,11.86,0.0,84.0,6.04,0.0,64.0,8.95
2015-06-28,0.0,77.0,4.70,0.0,67.0,10.29,0.0,79.0,4.92,0.0,67.0,3.80
2015-06-29,0.0,72.0,6.04,0.0,72.0,12.53,0.0,83.0,5.82,0.0,68.0,4.03
2015-06-30,0.0,70.0,7.61,0.0,73.0,12.08,0.0,82.0,4.92,0.0,68.0,8.50
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-02,0.0,58.0,9.17,0.0,65.0,14.32,0.0,85.0,3.13,0.0,55.0,8.95
2018-08-03,0.0,58.0,7.38,0.0,65.0,11.18,0.0,85.0,6.04,0.0,55.0,4.03
2018-08-04,0.0,58.0,7.61,0.0,65.0,10.96,0.0,85.0,6.26,0.0,55.0,9.62
2018-08-05,0.0,58.0,5.37,0.0,65.0,7.83,0.0,85.0,7.16,0.0,55.0,12.53
2018-08-06,0.0,58.0,6.26,0.0,65.0,10.74,0.0,85.0,6.04,0.0,55.0,6.71
2018-08-07,0.0,58.0,7.16,0.0,65.0,12.30,0.0,85.0,4.92,0.0,55.0,4.92
2018-08-08,0.0,58.0,4.92,0.0,65.0,9.62,0.0,85.0,4.92,0.0,55.0,5.82
2018-08-09,0.0,58.0,6.71,0.0,65.0,9.62,0.0,85.0,3.80,0.0,55.0,9.62
2018-08-10,0.0,58.0,9.62,0.0,65.0,8.28,0.0,85.0,6.04,0.0,55.0,9.17
2018-08-11,0.0,58.0,10.96,0.0,65.0,7.61,0.0,85.0,4.03,0.0,55.0,4.70
2018-08-12,0.0,58.0,7.16,0.0,65.0,6.49,0.0,85.0,5.59,0.0,55.0,6.04
2018-08-13,0.0,58.0,8.95,0.0,65.0,9.17,0.0,85.0,7.16,0.0,55.0,2.91
2018-08-14,0.0,58.0,6.49,0.0,65.0,9.62,0.0,85.0,8.95,0.0,55.0,5.14
2018-08-15,0.0,58.0,4.47,0.0,65.0,11.41,0.0,85.0,7.16,0.0,55.0,5.82
2018-08-16,0.0,58.0,6.26,0.0,65.0,9.40,0.0,85.0,5.82,0.0,55.0,4.47
2018-08-17,0.0,58.0,5.82,0.0,65.0,11.41,0.0,85.0,7.16,0.0,55.0,5.59
2018-08-18,0.0,58.0,5.82,0.0,65.0,10.29,0.0,85.0,5.82,0.0,55.0,8.50
2018-08-19,0.0,58.0,5.59,0.0,65.0,11.41,0.0,85.0,7.16,0.0,55.0,6.49
2018-08-20,0.0,58.0,5.37,0.0,65.0,7.16,0.0,85.0,7.16,0.0,55.0,10.07
2018-08-21,0.0,58.0,8.05,0.0,65.0,10.07,0.0,85.0,6.04,0.0,55.0,10.51
2018-08-22,0.0,58.0,5.59,0.0,65.0,13.20,0.0,85.0,6.04,0.0,55.0,8.72
2018-08-23,0.0,58.0,9.84,0.0,65.0,11.18,0.0,85.0,5.82,0.0,55.0,6.49
2018-08-24,0.0,58.0,7.61,0.0,65.0,6.49,0.0,85.0,5.59,0.0,55.0,11.86
2018-08-25,0.0,58.0,4.92,0.0,65.0,6.49,0.0,85.0,6.26,0.0,55.0,6.71
2018-08-26,0.0,58.0,7.16,0.0,65.0,11.41,0.0,85.0,6.04,0.0,55.0,8.95
2018-08-27,0.0,58.0,5.82,0.0,65.0,8.72,0.0,85.0,7.16,0.0,55.0,16.11
2018-08-28,0.0,58.0,4.92,0.0,65.0,10.29,0.0,85.0,7.16,0.0,55.0,11.86
2018-08-29,0.0,58.0,6.49,0.0,65.0,9.84,0.0,85.0,5.82,0.0,55.0,9.40
2018-08-30,0.0,58.0,6.26,0.0,65.0,10.51,0.0,85.0,6.93,0.0,55.0,6.71
2018-08-31,0.0,58.0,7.61,0.0,65.0,13.65,0.0,85.0,5.82,0.0,55.0,7.83

In [152]:
df = df.join(Weather_all, on='FL_DATE')

In [153]:
df.columns

Index(['FL_DATE', 'YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_ARR_TIME', 'ARR_TIME', 'CRS_DEP_TIME', 'DISTANCE', 'CANCELLED',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY', 'Delay', 'Day_of_year', 'CRS_FLIGHT_TIME',
       'SEA_SNOW', 'SEA_TAVG', 'SEA_AWND', 'JFK_SNOW', 'JFK_TAVG', 'JFK_AWND',
       'IAH_SNOW', 'IAH_TAVG', 'IAH_AWND', 'ORD_SNOW', 'ORD_TAVG', 'ORD_AWND'],
      dtype='object')

In [154]:
df['Day_of_year'].max()

366

In [155]:
# write to file
df.to_csv('data/'+Output_File)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288138 entries, 0 to 28845
Data columns (total 32 columns):
FL_DATE                288138 non-null object
YEAR                   288138 non-null int64
MONTH                  288138 non-null int64
DAY_OF_MONTH           288138 non-null int64
DAY_OF_WEEK            288138 non-null int64
OP_UNIQUE_CARRIER      288138 non-null object
OP_CARRIER_FL_NUM      288138 non-null int64
ORIGIN                 288138 non-null object
DEST                   288138 non-null object
CRS_ARR_TIME           288138 non-null int64
ARR_TIME               288138 non-null float64
DISTANCE               288138 non-null float64
CANCELLED              288138 non-null float64
CARRIER_DELAY          51344 non-null float64
WEATHER_DELAY          51344 non-null float64
NAS_DELAY              51344 non-null float64
SECURITY_DELAY         51344 non-null float64
LATE_AIRCRAFT_DELAY    51344 non-null float64
Delay                  288138 non-null int64
Day_of_year            288138 non-null int64
SEA_SNOW               288138 non-null float64
SEA_TAVG               288138 non-null float64
SEA_AWND               288138 non-null float64
JFK_SNOW               288138 non-null float64
JFK_TAVG               288138 non-null float64
JFK_AWND               288138 non-null float64
IAH_SNOW               288138 non-null float64
IAH_TAVG               288138 non-null float64
IAH_AWND               288138 non-null float64
ORD_SNOW               288138 non-null float64
ORD_TAVG               288138 non-null float64
ORD_AWND               288138 non-null float64
dtypes: float64(20), int64(8), object(4)
memory usage: 72.5+ MB